li {
  display: hidden;
}

h1 {
  text-align: center;
  position: absolute;
  font-size: 18rem;
  z-index: 50000;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#sign-in-button {
  /* position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%); */
}

#sign-up-button {
  position: relative;
  height: 2.5rem;
  width: 25%;
  align-items: center;
  border-radius: 25px;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  text-align: center;
}


#search-button-div {
  margin: auto;
  position: absolute;
  bottom: 12rem;
  left: 45%;
}
#search-button {
  position: relative;
  height: 2rem;
  width: 7rem;
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.nav:last-child {
  justify-content: flex-end;
}

.nav-link {
  color: orange;
  font-family: 'Barlow', sans-serif;
}

#header-photo-div {
    /* background-image: url(../images/photo-1501281668745-f7f57925c3b4.jpg); */
    height: 55vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

#header-photo-div2 {
  /* background-image: url(../images/photo-1501281668745-f7f57925c3b4.jpg); */
  height: 35vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: center;;
}

#main-container {
    width: 100vw;
    
}

#header-photo {
    height: 100%;
    width: 100%;
}

#header-photo2 {
  height: 100%;
  width: 100%;
  margin: auto;
}
.item {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.item2 {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

}

.item-1 {
grid-column: 1 / span 1;
grid-row: 1 / span 1;
}

.item-2 {
grid-column: 2 / span 1;
grid-row: 1 / span 1;
}

.item-3 {
grid-column: 3 / span 1;
grid-row: 1 / span 1;
}

.item-4 {
grid-column: 1 / span 1;
grid-row: 2 / span 1;
}

.item-5 {
grid-column: 2 / span 1;
grid-row: 2 / span 1;
}

.item-6 {
grid-column: 3 / span 1;
grid-row: 2 / span 1;
}

.item-7 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  /* border: solid red 1px; */
  text-align: center;
  padding: 1rem 2rem;
  border: 4px solid #FFFDE4 !important;
  }
  
  .item-8 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  /* border: solid red 1px; */
  background-image: url("../images/mic.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  }
  
  .item-9 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  /* border: solid red 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  /* border: 4px solid #005AA7 !important; */
  }
  
  .item-10 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;
  /* border: solid red 1px; */
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  /* border: 4px solid #005AA7 !important; */
  }
  
  .item-11 {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  /* border: solid red 1px; */
  }

  #mic-pic {
    height: 100%;
    width: 100%;
  }




.grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2.5rem;
    height: 100%;
    width:80%;
    margin: 3rem auto;  
}

#comment-div {
  border: solid 2px orange;
  height: 250px;
  margin: 1.5rem;
  overflow: scroll;
}

#grid-container2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 20% auto auto;
  width:80%;
  height: 100vh;
  margin: 3rem auto;
  margin-bottom: 3rem;
  grid-gap: 1.5rem;
  background-image: linear-gradient(315deg, #005AA7 0%, #FFFDE4 74%);
  opacity: .5;;
}

.card {
  /* height: 100%; */
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.search-card-input-div {
  width: 30%;
  /* border-right: #f5af19 2px solid !important; */
  
}

#search-card {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 85%;
  align-items: center;
  padding-right: 1rem;
  
  
}

.search-card-input {
  color: orange;
  /* border-right: #f12711 2px solid !important; */
  margin-right: 1rem;
  padding-right: 1rem;
  
}

#data-image {
  width: 150px;
  height: 150px;
}

.event-page-image {
  width: 100%;
  height: 100%;
  background-size: 100% 100% !important;
}

.event-page-date {
  height: 40%;
}

.event-page-time {
  height: 40%;
  padding-bottom: 2rem;
}
/* --------------------------------------------------------SIGN UP MODAL--------------------------------------------------------- */
.form-dark .font-small {
    font-size: 0.8rem; }
  
  .form-dark [type="radio"] + label,
  .form-dark [type="checkbox"] + label {
    font-size: 0.8rem; }
  
  .form-dark [type="checkbox"] + label:before {
    top: 2px;
    width: 15px;
    height: 15px; }
  
  .form-dark .md-form label {
    color: #fff; }
  
  .form-dark input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid orange;
    -webkit-box-shadow: 0 1px 0 0 orange;
    box-shadow: 0 1px 0 0 orange; }
  
  .form-dark input[type=email]:focus:not([readonly]) + label {
    color: #fff; }
  
  .form-dark input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid orange;
    -webkit-box-shadow: 0 1px 0 0 orange;
    box-shadow: 0 1px 0 0 orange; }
  
  .form-dark input[type=password]:focus:not([readonly]) + label {
    color: #fff; }
  
  .form-dark input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  
  .form-dark input[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent orange orange transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    /* -webkit-backface-visibility: hidden; */
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
  
  .form-dark .modal-header {
      border-bottom: none;
  }

  .card-image {
      background-repeat: no-repeat;
  }

  .card-cascade {
    width: 70%;
    margin: auto;
    position: relative;
    bottom: 6rem;
  }

  #event-table-div {
    margin: 1rem auto;
    max-width: 80vw;
    display: none;
  }

  #event-table {
    min-width: 80vw;
    margin: auto;
  }

  #main-container {
  }

  #event-page-main-container {
    display: none;
  }

  .table-col {
    width: 80vh;
    text-align: center;
  }
  
  .row {
    min-width: 80vw;
    margin: auto;
    justify-content: center;
  }

  #event-table_filter {
    display: flex;
    justify-content: flex-end;
  }

  .card-back {
    height: 100%;
  }

  .card-body2 {
    padding: 1.25rem 1.25rem 0rem 1.25rem;
    text-align: center;
  
  }

  #comment-text-area {
    height: 5rem;
  }

  #comment-wrap {
    padding: 0 1rem;
  }

  .form-group {
    width: 100%;
  }

  #comment-btn {
    position: relative;
    height: 2rem;
    width: 7rem;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  }

  .event-page-date {
    margin-top: 2rem;
    font-size: 3rem;
  }

  #back-to-search-results-btn {
    margin-top: 4rem;
    position: relative;
    height: 2.5rem;
    align-items: center;
    border-radius: 25px;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    text-align: center;

  }

  #comment-wrap {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .event-card {
    max-height: 100%;
  }

  .event-card-front {
    display: flex;
  }

  .event-card-front:last-child {
    float: bottom;
    margin-bottom: 1rem;
  }

  .event-card-button {

  }

  #see-more {
    margin-bottom: 4rem;
    position: relative;
    height: 2.5rem;
    width: 25%;
    align-items: center;
    border-radius: 25px;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    text-align: center;
  }

  #search-card-border {
    height: 100%;
    width: 2rem;
    background-color: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%) !important;
    z-index: 1000000;
  }



